auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*types*
public-hoist-pattern[]=onnxruntime-*
public-hoist-pattern[]=@xenova/*
public-hoist-pattern[]=pdf-parse
fetch-timeout=600000
fetch-retries=20
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=600000
network-concurrency=2
